In [1]:
import pandas as pd

In [2]:
df_agent_performance = pd.read_excel("/content/AgentPerformance.xlsx",header=1)

In [3]:
df_agent_login = pd.read_excel("/content/Agent_Login_Report.xlsx",header=1)

In [4]:
df_agent_performance.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6

In [5]:
df_agent_login.head()

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM  01:08:36

# **1. Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave**

In [6]:
df_agent_performance['Date_Week'] = pd.to_datetime(df_agent_performance['Date']).dt.week

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

In [7]:
df_agent_performance.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Date_Week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30

In [8]:
def mean_5(a):
  sum=0
  for i in a:
    sum=sum+i
  return (sum/5)

In [9]:
df_agent_performance.groupby('Date_Week')['Average Rating'].apply(mean_5)

Date_Week
26     43.144
27    139.774
28    156.088
29    152.348
30    139.782
Name: Average Rating, dtype: float64

In [10]:
df_agent_performance.groupby('Date_Week')['Average Rating'].mean()

Date_Week
26    0.998704
27    1.386647
28    1.548492
29    1.511389
30    1.617847
Name: Average Rating, dtype: float64

In [11]:
mean_5(df_agent_performance['Average Rating'])

631.1360000000002

# 2. Total working days for each agents

In [12]:
df_agent_login['Agent'].value_counts()

Dibyanshu                 208
Deepranjan Gupta           58
Ishawant Kumar             49
Saurabh Shukla             40
Hrisikesh Neogi            37
Anurag Tiwari              37
Shivan K                   36
Mahesh Sarade              36
Shubham Sharma             35
Prabir Kumar Satapathy     26
Sowmiya Sivakumar          24
Harikrishnan Shaji         23
Sanjeev Kumar              20
Wasim                      20
Ayushi Mishra              18
Prerna Singh               18
Nishtha Jain               18
Khushboo Priya             18
Prateek _iot               17
Madhulika G                17
Boktiar Ahmed Bappy        17
Jawala Prakash             16
Shiva Srivastava           15
Shivananda Sonwane         15
Mithun S                   14
Chaitra K Hiremath         13
Muskan Garg                12
Rishav Dash                12
Jaydeep Dixit              11
Nandani Gupta              11
Sudhanshu Kumar            11
Ameya Jain                 10
Aravind                    10
Saikumarreddy N            10
Zeeshan                    10
Bharath                     9
Aditya_iot                  9
Manjunatha A                8
Suraj S Bilgi               5
Maitry                      5
Swati                       5
Amersh                      4
Ankitjha                    4
Mukesh                      3
Hyder Abbas                 2
Aditya Shinde               1
Nitin M                     1
Ineuron Intelligence        1
Tarun                       1
Name: Agent, dtype: int64

# **3. Total query that you have taken**

In [13]:
df_agent_performance.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

# **4. total Feedback that you have received**

In [14]:
df_agent_performance.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

# **5. a agent name who have average rating between 3.5 to 4**

In [15]:
df1 = df_agent_performance.groupby('Agent Name')['Average Rating'].mean()
df1[ (df1 >= 3.5) & (df1 <=4)]

Agent Name
Boktiar Ahmed Bappy    3.568000
Ishawant Kumar         3.543333
Khushboo Priya         3.703667
Manjunatha A           3.594667
Name: Average Rating, dtype: float64

# **6. Agent name who have rating lesss then 3.5**

In [16]:
df2 = df_agent_performance.groupby('Agent Name')['Average Rating'].mean()
df2[ (df2 <= 3.5)]

Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde    1.800333
Aditya_iot       2.345333
Amersh           0.000000
                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            0.500667
Wasim            2.400000
Zeeshan          2.287000
Name: Average Rating, Length: 65, dtype: float64

# **7. agent name who have rating more then 4.5**

In [17]:
df3 = df_agent_performance.groupby('Agent Name')['Average Rating'].mean()
df3[ (df3 >= 4.5)]

Series([], Name: Average Rating, dtype: float64)

# **8. how many feedaback agents have received more then 4.5 average**

In [18]:
df_agent_performance[df_agent_performance['Average Rating'] >= 4.5].groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   198
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        78
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         92
Hrisikesh Neogi           183
Ishawant Kumar             81
Jawala Prakash             43
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            144
Madhulika G                81
Mahesh Sarade              50
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               30
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh              104
Rishav Dash                37
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             194
Saurabh Shukla              3
Shiva Srivastava           18
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

# **9. average weekly response time for each agent**

In [19]:
df_agent_performance['Average_Response_Time_Hours'] = df_agent_performance['Average Response Time'].str.split(':', expand= True)[0]
df_agent_performance['Average_Response_Time_Minutes'] = df_agent_performance['Average Response Time'].str.split(':', expand= True)[1]
df_agent_performance['Average_Response_Time_Seconds'] = df_agent_performance['Average Response Time'].str.split(':', expand= True)[2]
df_agent_performance['Average_Response_Time_in_Seconds'] = df_agent_performance['Average_Response_Time_Hours'].astype(int)*24*60*60 + df_agent_performance['Average_Response_Time_Minutes'].astype(int)*60 + df_agent_performance['Average_Response_Time_Seconds'].astype(int)
df_agent_performance.groupby(['Date_Week','Agent Name'])['Average_Response_Time_in_Seconds'].mean()

Date_Week  Agent Name
26         Abhishek          0.000000
           Aditya            0.000000
           Aditya Shinde    55.333333
           Aditya_iot        0.000000
           Amersh            0.000000
                              ...
30         Uday Mishra       0.000000
           Vasanth P         0.000000
           Vivek             0.000000
           Wasim            50.500000
           Zeeshan          63.833333
Name: Average_Response_Time_in_Seconds, Length: 350, dtype: float64

# **10. average weekely resolution time for each agents**

In [20]:
df_agent_performance['Average_Resolution_Time_Hours'] = df_agent_performance['Average Resolution Time'].str.split(':', expand= True)[0]
df_agent_performance['Average_Resolution_Time_Minutes'] = df_agent_performance['Average Resolution Time'].str.split(':', expand= True)[1]
df_agent_performance['Average_Resolution_Time_Seconds'] = df_agent_performance['Average Resolution Time'].str.split(':', expand= True)[2]
df_agent_performance['Average_Resolution_Time_in_Seconds'] = df_agent_performance['Average_Resolution_Time_Hours'].astype(int)*60*60 + df_agent_performance['Average_Resolution_Time_Minutes'].astype(int)*60 + df_agent_performance['Average_Resolution_Time_Seconds'].astype(int)
df_agent_performance.groupby(['Date_Week','Agent Name'])['Average_Resolution_Time_in_Seconds'].mean()

Date_Week  Agent Name
26         Abhishek            0.000000
           Aditya              0.000000
           Aditya Shinde     927.000000
           Aditya_iot          0.000000
           Amersh              0.000000
                               ...
30         Uday Mishra         0.000000
           Vasanth P           0.000000
           Vivek               0.000000
           Wasim            1054.833333
           Zeeshan           773.500000
Name: Average_Resolution_Time_in_Seconds, Length: 350, dtype: float64

# **11. list of all agents name**

In [21]:
l = list(df_agent_performance['Agent Name'].unique())
print(l)

['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade', 'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar', 'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya', 'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi', 'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ', 'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar', 'Deepranjan Gupta', 'Jawala Prakash']

# **12. percentage of chat on which they have received a feedback**

In [22]:
df_agent_performance[df_agent_performance['Total Feedback'] !=0].groupby('Agent Name')['Total Chats'].apply(lambda x:100 * x / float(x.sum()))

0         2.743142
1         1.964286
2         4.347826
3         3.846154
4         2.671756
           ...
2101      4.882812
2102      5.215420
2103      5.405405
2104      2.595156
2105    100.000000
Name: Total Chats, Length: 731, dtype: float64

# **13. Total contributation hour for each and every agents weekly basis**

In [23]:
df_agent_login['Date_Week'] = pd.to_datetime(df_agent_login['Date']).dt.week
df_agent_login.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

,SL No,Agent,Date,Login Time,Logout Time,Duration,Date_Week
0,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,02:04:10,30
1,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,00:00:17,30
2,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,02:26:42,30
3,4,Hrisikesh Neogi,30-Jul-22,02:34:29 PM,03:19:35 PM,00:45:06,30
4,5,Mukesh,30-Jul-22,02:03:15 PM,03:11:52 PM,01:08:36,30

In [24]:
df_agent_login['Duration_Hours'] = df_agent_login['Duration'].str.split(':', expand= True)[0]
df_agent_login['Duration_Minutes'] = df_agent_login['Duration'].str.split(':', expand= True)[1]
df_agent_login['Duration_Seconds'] = df_agent_login['Duration'].str.split(':', expand= True)[2]
df_agent_login['Duration_in_Hours'] = df_agent_login['Duration_Hours'].astype(int) + df_agent_login['Duration_Minutes'].astype(int)/60 + df_agent_login['Duration_Seconds'].astype(int)/(60*60)
df_agent_login.groupby(['Date_Week','Agent'])['Duration_in_Hours'].sum()

Date_Week  Agent
26         Tarun              514.138889
29         Aditya_iot           6.095278
           Ameya Jain          24.083056
           Anurag Tiwari        0.264444
           Aravind             24.235556
                                 ...
30         Sudhanshu Kumar     21.776389
           Suraj S Bilgi       12.559167
           Swati                6.142500
           Wasim               28.553611
           Zeeshan             24.661111
Name: Duration_in_Hours, Length: 89, dtype: float64

# **14. total percentage of active hour for a month**

In [25]:
df_agent_login['Date_Month'] = pd.to_datetime(df_agent_login['Date']).dt.month
df_agent_login.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,Date_Week,Duration_Hours,Duration_Minutes,Duration_Seconds,Duration_in_Hours,Date_Month
0,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,02:04:10,30,02,04,10,2.069444,7
1,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,00:00:17,30,00,00,17,0.004722,7
2,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,02:26:42,30,02,26,42,2.445000,7
3,4,Hrisikesh Neogi,30-Jul-22,02:34:29 PM,03:19:35 PM,00:45:06,30,00,45,06,0.751667,7
4,5,Mukesh,30-Jul-22,02:03:15 PM,03:11:52 PM,01:08:36,30,01,08,36,1.143333,7

In [26]:
df_agent_login.groupby(['Date_Month','Agent'])['Duration_in_Hours'].sum()*(100/(30*8))

Date_Month  Agent
7           Aditya Shinde               0.015046
            Aditya_iot                  6.554630
            Amersh                      1.276620
            Ameya Jain                 17.531481
            Ankitjha                    0.944560
            Anurag Tiwari               1.157870
            Aravind                    10.124653
            Ayushi Mishra              15.884028
            Bharath                    20.031944
            Boktiar Ahmed Bappy        16.778588
            Chaitra K Hiremath         14.302315
            Deepranjan Gupta           44.281366
            Dibyanshu                  21.914931
            Harikrishnan Shaji         22.381134
            Hrisikesh Neogi            23.986921
            Hyder Abbas                 0.161690
            Ineuron Intelligence        0.603588
            Ishawant Kumar             21.574537
            Jawala Prakash             19.334259
            Jaydeep Dixit              24.933565
            Khushboo Priya             18.149421
            Madhulika G                19.191782
            Mahesh Sarade              17.884144
            Maitry                     12.893750
            Manjunatha A               17.197801
            Mithun S                   18.822338
            Mukesh                      3.710417
            Muskan Garg                 7.223148
            Nandani Gupta              16.738426
            Nishtha Jain               18.271991
            Nitin M                     0.332870
            Prabir Kumar Satapathy     13.907176
            Prateek _iot                7.674190
            Prerna Singh               19.048148
            Rishav Dash                17.406481
            Saikumarreddy N            17.973958
            Sanjeev Kumar              18.619676
            Saurabh Shukla              6.942940
            Shiva Srivastava            6.247569
            Shivan K                   15.042593
            Shivananda Sonwane         20.536574
            Shubham Sharma             22.415972
            Sowmiya Sivakumar          18.647569
            Sudhanshu Kumar            19.262963
            Suraj S Bilgi               5.232986
            Swati                      10.417130
            Tarun                     214.224537
            Wasim                      20.074653
            Zeeshan                    20.453588
Name: Duration_in_Hours, dtype: float64