# 1. Pattern printing

#    ineuron
    
#    ineuron ineuron
    
#    ineuron ineuron ineuron
    
#    ineuron ineuron ineuron ineuron

In [1]:
n=4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [2]:
# 2. Pattern printing

#        ineuron

#    ineuron      ineuron

# ineuron ineuron  ineuron

#    ineuron      ineuron

 #       ineuron

In [3]:
k=0
for i in range(1,6):
    if i<=3:
            k=k+1
    else:
            k=k-1
    for j in range(1,6):
        if i>1 and i<5:
            if i%2==0:
                if j>=4-k and j<=k+2:
                    if j%2==0:
                        print("ineuron",end=" ")
                    else:
                        print(end="    ")
                else:
                    print(end="   ")
            else:
                if j>=4-k and j<=k+2:
                    if j%2!=0:
                        print("ineuron",end=" ")
                    else:
                        print(end="  ")
                else:
                    print(end="   ")
        if i==1 or i==5:    
            if j>=4-k and j<=k+2:
                    print("ineuron",end=" ")
            else:
                print(end="    ")
    print("\n")

        ineuron

   ineuron     ineuron

ineuron   ineuron   ineuron

   ineuron     ineuron

        ineuron

# l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [4]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
   ["ineuron","data science"]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

# 3. Try to extract all the list entity

In [5]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

# 4. Try to extract all the dict entities

In [6]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# 5. Try to extract all the tuples entities

In [7]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# 6. Try to extract all the numerical data it may be a part of dict key and values

In [8]:
for i in l:
    if type(i)==tuple or type(i)==list or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                print(k,v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3 6
7 8

# 7. Try to give summation of all the numeric data

In [9]:
sum_num=0
for i in l:
    if type(i)==tuple or type(i)==list or type(i)==set:
        for j in i:
            if type(j)==int:
                sum_num=sum_num+j
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                sum_num=sum_num+k+v
print("Summation of all the numeric data :",sum_num)

Summation of all the numeric data : 156

# 8. Try to filter out all the odd values out all numeric data which is a part of a list

In [10]:
odd_number_list=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2 != 0 :
                    odd_number_list.append(j)
print("Odd numbers presenet in the list are ",odd_number_list)

Odd numbers presenet in the list are  [1, 3]

# 9. Try to extract "ineuron" out of this data

In [11]:
text_list=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=="ineuron":
                text_list.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if k=="ineuron":
                text_list.append(k)
            if v=="ineuron":
                text_list.append(v)
                
print(text_list)

['ineuron', 'ineuron']

# 10. Try to find out a number of occurances of all the data

In [12]:
occur=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
                occur.append(j)
    if type(i)==dict:
        for k,v in i.items():
            occur.append(k)
            occur.append(v)
for m in occur:
    print(m," : ",occur.count(m))

1  :  1
2  :  2
3  :  4
4  :  4
2  :  2
3  :  4
4  :  4
5  :  3
6  :  3
3  :  4
4  :  4
5  :  3
6  :  3
7  :  2
45  :  1
4  :  4
5  :  3
23  :  1
k1  :  1
sudh  :  1
k2  :  1
ineuron  :  2
k3  :  1
kumar  :  1
3  :  4
6  :  3
7  :  2
8  :  1
ineuron  :  2
data science  :  1

# 11. Try to find out number of keys in dict element

In [13]:
count_key=0
for i in l:
    if type(i)==dict:
        for k in i.keys():
            count_key=count_key+1 
print(count_key)

5

# 12. Try to filter out all the string data

In [14]:
str_list=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                str_list.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                str_list.append(k)
            if type(v)==str:
                str_list.append(v)
print(str_list)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

# 13. Try to find out all the alphanum in date

In [15]:
alphanum_list=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                if j.isalnum()==True:
                    alphanum_list.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                if k.isalnum()==True:
                    alphanum_list.append(k)
            if type(v)==str:
                if v.isalnum()==True:
                    alphanum_list.append(v)
print(alphanum_list)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

# 14. Try to find out multiplication of all numeric value in the individual collection inside dataset

In [16]:
mul_num_tuple=1
mul_num_set=1
mul_num_list=1
mul_num_dict=1
for i in l:
    if type(i)==tuple:
        for j in i:
            if type(j)==int:
                mul_num_tuple=mul_num_tuple*j
    if type(j)==list:
        for j in i:
            if type(j)==int:
                mul_num_list=mul_num_list*j
    if type(j)==set:
        for j in i:
            if type(j)==int:
                mul_num_set=mul_num_set*j
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                mul_num_dict=mul_num_dict*k*v
                
print("Multiplication of all the numeric data inside the tuple: ",mul_num_tuple)
print("Multiplication of all the numeric data inside the list: ",mul_num_list)
print("Multiplication of all the numeric data inside the set: ",mul_num_set)
print("Multiplication of all the numeric data inside the dict: ",mul_num_dict)

Multiplication of all the numeric data inside the tuple:  1814400
Multiplication of all the numeric data inside the list:  1
Multiplication of all the numeric data inside the set:  1
Multiplication of all the numeric data inside the dict:  1008

# 15. Try to unwrape all the collections inside collection and create a flat list

In [17]:
flat_list=[]
for i in l:
    if type(i)==tuple or type(i)==list or type(i)==set:
        for j in i:
            flat_list.append(j)
  
    if type(i)==dict:
        for k,v in i.items():
            flat_list.append(k)
            flat_list.append(v)

print("Unwrape elements: ",flat_list)

Unwrape elements:  [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']